.webbird-quotes {
  position: relative;

  .webbird-quotes__wrapper {
    display: table;
    //width: 100%;
    box-sizing: border-box;

    text-align: left;

    .webbird-quotes__image {
      display: table-cell;

      padding-right: 5%;

      vertical-align: middle;

      img {
        display: block;

        width: 130px;
        height: auto;
        margin: 0;
        padding: 0;
      }
    }

    .webbird-quotes__content {
      display: table-cell;

      vertical-align: middle;
    }

    .webbird-quotes__link {
      display: table-cell;

      padding-left: 5%;

      vertical-align: middle;

      a {
        &.button {
          min-width: 200px;

          text-align: center;
        }
      }
    }
  }
}
